<h1>{{title | titlecase}}</h1>
<div class="row">
  <div class="col-md-12">
    <form>
      <section class="form-block">
        <div class="app-form-group">
          <label for="action">Action</label>
          <input id='action' type="text" placeholder="changed">
        </div>
        <div class="app-form-group">
          <label for="pronoun">Pronoun</label>
          <input id='pronoun' type="text" placeholder="my">
        </div>
        <div class="app-form-group">
          <label for="noun">Noun</label>
          <input id='noun' type="text" placeholder="tires">
        </div>
      </section>
    </form>
  </div>
  <div class="col-md-8 push-md-2">
    <button class="btn btn-primary btn-block">
      <clr-icon shape="plus"></clr-icon>Add</button>
  </div>
</div>
