<h2>{{title | titlecase}}</h2>
<form [formGroup]="entryForm">
  <section class="form-block">
    <div class="app-form-group form-group">
      <label class="required" for="action">Action</label>
      <label for="action" aria-haspopup="true" role="tooltip" [ngClass]="{'invalid': isInvalidControl('action')}" class="tooltip tooltip-validation tooltip-sm .tooltip-bottom-left">
        <input id="action" formControlName="action" type="text" placeholder="changed">
        <span class="tooltip-content">
          This field cannot be empty!
        </span>
      </label>
    </div>
    <div class="app-form-group form-group">
      <label class="required" for="pronoun">Pronoun</label>
      <label for="pronoun" aria-haspopup="true" role="tooltip" [ngClass]="{'invalid': isInvalidControl('pronoun')}" class="tooltip tooltip-validation tooltip-sm .tooltip-bottom-left">
        <input id="pronoun" formControlName="pronoun" type="text" placeholder="my">
        <span class="tooltip-content">
          This field cannot be empty!
        </span>
      </label>
    </div>
    <div class="app-form-group form-group">
      <label class="required" for="noun">Noun</label>
      <label for="noun" aria-haspopup="true" role="tooltip" [ngClass]="{'invalid': isInvalidControl('noun')}" class="tooltip tooltip-validation tooltip-sm .tooltip-bottom-left">
        <input id="noun" formControlName="noun" type="text" placeholder="tires">
        <span class="tooltip-content">
          This field cannot be empty!
        </span>
      </label>
    </div>
    <div class="app-form-group form-group">
      <label class="required" for="date">Date</label>
      <input id="date" formControlName="date" type="date" clrDate>
    </div>
  </section>
  <section class="form-block">
    <div class="form-group ">
      <div class="toggle-switch">
        <input type="checkbox" formControlName="lifeMilestone" id="milestone">
        <label for="milestone">Life milestone</label>
      </div>
    </div>
  </section>
  <div class="Row">
    <div class="col-md-8 push-md-2">
      <button class="btn btn-primary btn-block" (click)="onAdd()" [disabled]="!entryForm.valid">
        <clr-icon shape="plus"></clr-icon>Add</button>
    </div>
  </div>
</form>